<!-- Show all the details about the book plus a button to add the book to user_profile -->

  <a href="<%= request.referrer %>" class='back'>back</a>



  <div class='info'>

    <div class='top'>
      <p id='title'><b> <%= @book_title %> </b></p>
    </div>

    <div class='container'>

      <img src="http://www.royalvictoria57.com/Images/masonic_encyclopedia_cover.jpg">

      <div class='sidebar'>
        <ul>
          <li> Year : <%= @book_year %> </li>
        <li> Number of pages :   <%= @book_page_count %> </li>
        <li> Category :  <%= @book_category %> </li>
        </ul>

        <p><%= @favourites.length %> Likes </p>



        <form action="/like/<%= @book_isbn %>" method="post">
          <input type="hidden" name="isbn" value="<%= @book_isbn %>">
          <input type="hidden" name="book_id" value="<%= @book_id %>">
          <button> Like </button>
        </form>


        <div class='comment'>
          <% @reviews.each do |review| %>
          <p><%= review.body %></p>
          <% end %>

          <form action="/info/<%= @book_isbn %>" method="post">
            <input type="hidden" value="delete" name="_method">
            <button>delete</button>
          </form>


          <form action="/info/<%= @book_isbn %>" method="post">
            <input type="hidden" name="book_id" value="<%= @book_id %>">
            <textarea name='body'>
            </textarea>
            <button>post</button>
          </form>
        </div>

      </div>
    </div>
  </div>
