<!-- Show all the details about the book plus a button to add the book to user_profile -->

<a href="<%= request.referrer %>" class='back'>back</a>

  <div class='info'>
      <p id='title'><b> <%= @book_title %> </b></p>
    <div class='container'>
      <img src="http://thumb7.shutterstock.com/display_pic_with_logo/176509/176509,1202926299,1/stock-photo-vintage-bookcover-with-beautiful-floral-decoration-and-blank-label-for-your-text-9412654.jpg">
      <div class='sidebar'>
        <ul>
          <li> Year : <%= @book_year %> </li>
          <li> Number of pages :   <%= @book_page_count %> </li>
          <li> Category :  <%= @book_category %> </li>
        </ul>
        <p><%= @favourites.length %> Likes </p>

        <form action="/like/<%= @book_isbn %>" method="post">
          <input type="hidden" name="isbn" value="<%= @book_isbn %>">
          <input type="hidden" name="book_id" value="<%= @book_id %>">
          <button> Like </button>
        </form>

        <form action="/like/<%= @book_isbn %>" method="post">
          <input type="hidden" value="delete" name="_method">
          <button>Unlike</button>
        </form>

        <div class='comment'>
          <% @reviews.each do |review| %>
          <p> review : <%= review.body %></p>
          <% end %>

          <form action="/info/<%= @book_isbn %>" method="post">
            <input type="hidden" value="delete" name="_method">
            <button>Delete</button>
          </form>

          <form action="/info/<%= @book_isbn %>" method="post">
            <input type="hidden" name="book_id" value="<%= @book_id %>">
            <textarea name='body'>
            </textarea>
            <button>Post</button>
          </form>

          <a href="/info/<%= @book_isbn %>/edit">Edit Book</a>
        </div>

      </div>
    </div>
  </div>
